// _facebook-posts.scss

.facebook-feed {
    width: 100%;
    height: 500px;
    background: $light-gray;
}

.facebook-wrapper {
    max-width: 500px;
    background: purple;
    overflow: hidden;
    box-sizing: border-box;
}

.fb-page {
   
}